# Ficheiros de configuração e segredos que NUNCA devem ir para o GitHub
.streamlit/secrets.toml
secrets.toml

# Ficheiros gerados pelo Python que não são necessários no repositório
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheiros de ambiente virtual
.env
venv/
env/

# Ficheiros de sistema operativo
.DS_Store
Thumbs.db
